@charset "utf-8";

.parrafos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.conceptos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    background-color: #00bfff51;
    text-indent: 30px;
    
}
.titulos{
    letter-spacing: 6mm;
    text-transform: capitalize;
    text-align: center;
    color: #0a3192;
}
.subtitulos{
    letter-spacing: 3mm;
    text-transform: capitalize;
    text-align: left;
    color: #0845e0;
}
.definiciones{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(79, 2, 151);
}
.tablas{
    border-collapse:separate;
    margin: 25px;
    border: 3px solid #0845e0;
    font-size: 15px;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.encabezado{
    background-color: #051f898a; 
    color: #000000; 
    text-align: middle;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.celdaUno{
    background-color: #2e58ff63; 
    color: #000000; 
    text-align: middle;
    vertical-align: middle;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.celdaDos{
    background-color: #3e94f643; 
    color: #000000; 
    text-align: middle;
    padding: 5px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}